img {
    border-radius: 15px;
    width: 175px;
    margin: 20px 0px 0px 0px;
}

h1 {
    color: white;
}

h2 {
    margin: 25px 0 25px 0;
}

body {
    background-color: black;
    /*
    background: linear-gradient(to right, slateblue, lightblue);*/
    color: white;
    text-align: center;
}

a {
    background-color: black;
    font-size: 14px;
    border-radius: 10px;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 10px;
    color: #58b475;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline;
}

a:hover {
    color: white;
    background-color: #58b475;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {}

    40% {}

    60% {}
}